$background: #303030;
$border-color: #ffffff;
$text-color: $border-color;
$header-color: #126372;
$table-rows: #254D55;
$graph: #E3CFE5;
$primary: #7b1fa2;
h1 {
  font-size: 4em;
  @media only screen and (max-width: 1008px) {
    font-size: 3em;
  }
  @media only screen and (max-width: 640px) {
    font-size: 2em;
  }
}

h2 {
  font-size: 2.5em;
  @media only screen and (max-width: 1008px) {
    font-size: 2em;
  }
  @media only screen and (max-width: 640px) {
    font-size: 1.5em;
  }
}

p {
  font-size: 1.5em;
  @media only screen and (max-width: 1008px) {
    font-size: 1.25em;
  }
  @media only screen and (max-width: 640px) {
    font-size: .75em;
  }
}

a {
  color: lighten($primary, 15%);
}

.container {
  .page {
    height: 90vh;
    padding: 0 3em;
    h1 {
      border-bottom: 1px solid $primary;
      font-family: 'Assistant', sans-serif !important;
    }
  }
  .icon-container {
    display: flex;
    height: 10vh;
    justify-content: center;
    mat-icon {
      font-size: 3em;
      cursor: pointer;
    }
  }
  .highlight {
    color: lighten($primary, 15%);
  }
  .page-1 {
    padding: 0;
    display: flex;
    justify-content: center;
    h1 {
      padding-top: 25vh;
      border: none;
      justify-content: center;
      font-family: 'Assistant', sans-serif !important;
    }
    button {
      width: 128px;
      height: 40px;
    }
  }
  .page-2 {
    background-color: darken($background, 5%);
    display: flex;
    flex-flow: column;
    h1 {
      border-bottom: 1px solid $primary;
    }
    p {
      font-family: 'Assistant', sans-serif !important;
    }
    mat-list-item {
      font-size: 1.5em;
      @media only screen and (max-width: 1008px) {
        font-size: 1em;
      }
      @media only screen and (max-width: 640px) {
        font-size: .75em;
      }
    }
  }
  .icon-container.inverse {
    background-color: darken($background, 5%);
  }
  .page-3 {
    h1 {
      border-bottom: 1px solid $primary;
    }
    mat-icon {
      margin: 0 auto;
      font-size: 3em;
      cursor: pointer;
    }
  }
  .page-4 {
    height: 100vh;
    background-color: darken($background, 5%);
    padding-bottom: 4em;
    h1 {
      border-bottom: 1px solid $primary;
    }
  }
}