<div class="container" fxLayout="column" fxLayoutGap="25px">
  <h1 fxFlex="10%" class="header">Hirepower Breakdown</h1>
  <div fxFlex="250px" class="top" fxLayout="row">
    <div class="left" fxFlex="65%" fxLayout="column" fxLayoutGap="25px">
      <div class="title" fxFlex="50px">
        <h2>Level of Effort per Month</h2>
      </div>
      <app-stacked-bar-graph fxFlex *ngIf="complexityOverTimeData.length" [data]="complexityOverTimeData"></app-stacked-bar-graph>
    </div>
    <div class="right" fxFlex fxLayout="column" fxLayoutGap="25px">
      <div class="title" fxFlex="50px">
        <h2>Complexity Density per Day of Week</h2>
      </div>
      <app-pie-chart fxFlex *ngIf="complexityOverDayDataLoaded" [data]="complexityOverDayData"></app-pie-chart>
    </div>
  </div>
  <div fxFlex="250px" class="middle" fxLayout="column" fxLayoutGap="25px">
    <div class="title" fxFlex="50px">
      <h2>Complexity Change over Time</h2>
    </div>
    <app-line-graph fxFlex="85%" *ngIf="deltaComplexityOverTime.length" [data]="deltaComplexityOverTime"></app-line-graph>
  </div>
  <div fxFLex="250px" class="bottom" fxLayout="column">
    <div class="title" fxFlex="50px">
      <h2>Most Complex Commits</h2>
    </div>
    <app-user-table fxFlex></app-user-table>
  </div>
</div>