$background: #00323B;
$border-color: #ffffff;
$text-color: $border-color;
$header-color: #126372;
$table-rows: #254D55;
$graph: #E3CFE5;
.container {
  background-color: $background;
  width: 100%;
  height: 100%;
  color: $text-color;
  padding: 2em;
  .header {
    border-bottom: 1px solid $border-color;
    text-transform: uppercase;
  }
  .title {
    background-color: $header-color;
    h2 {
      margin: .25em;
      margin-left: 1em;
      text-transform: uppercase;
    }
  }
  .left {
    padding-right: 25px;
    border-right: 1px solid $border-color;
  }
  .right {
    padding-left: 25px;
  }
  .middle,
  .bottom {
    margin-top: 25px;
  }
  app-stacked-bar-graph,
  app-timeline,
  .stats {
    margin-left: 25px;
  }
}