<div class="container" fxLayout="column" fxLayoutGap="25px">
  <h1 fxFlex="5%" class="header">Zach Roberts</h1>
  <div fxFlex="35%" class="top" fxLayout="row">
    <div class="left" fxFlex="50%" fxLayout="column" fxLayoutGap="25px">
      <div class="title" fxFlex="50px">
        <h2>Logical Lines of Code Written per Month</h2>
      </div>
      <app-stacked-bar-graph fxFlex *ngIf="complexityOverTimeData.length" [data]="complexityOverTimeData"></app-stacked-bar-graph>
    </div>
    <div class="right" fxFlex fxLayout="column" fxLayoutGap="25px">
      <div class="title" fxFlex="50px">
        <h2>Logical Lines of Code Refactored per Month</h2>
      </div>
      <app-stacked-bar-graph fxFlex *ngIf="complexityRefactorOverTimeData.length" [data]="complexityRefactorOverTimeData"></app-stacked-bar-graph>
    </div>
  </div>
  <div fxFlex class="middle" fxLayout="column" fxLayoutGap="25px">
    <div class="title" fxFlex="50px">
      <h2>Project Timeline</h2>
    </div>
    <div fxLayout="row" fxFlex>
      <app-timeline fxFlex="65%" [data]="timelineData"></app-timeline>
    </div>
  </div>
</div>