<div class="container" [style.width.px]="width" [style.height.px]="height" fxLayout="column" fxLayoutGap="15px">
  <div class="legend fade-in" fxFlex="15%" fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="space-around">
    <a *ngFor="let key of keys" fxFlex class="key-container" fxLayout="row" [href]="hrefKeyMap[key]" target="_blank">
      <div class="square" [style.background-color]="colorMap[key]"></div>
      <div class="key" [style.color]="colorMap[key]">
        <p>{{key}}</p>
      </div>
    </a>
  </div>
  <div class="stacked-bar-graph" #barGraph fxFlex></div>
</div>