.stacked-bar-graph {
  .axis {
    // stroke: $lighter-grey;
  }
}

.legend {
  margin: 0 auto;
  margin-top: 5px;
  h2 {
    margin-top: 0;
    margin-bottom: 15px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .key-container {
    width: 100%;
    .square {
      // opacity: .6;
      width: 24px;
      height: 24px;
      margin-right: 5px;
      display: inline-block;
    }
    .key {
      display: inline-block;
      max-width: 85%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      p {
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}