/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/purple-green.css';
$border-color: #ffffff;
$text-color: $border-color;
$background: #00323B;
html,
body {
  height: 100%;
  .tick {
    font-family: 'Assistant', sans-serif !important;
    font-size: 1.5em;
  }
}

body {
  margin: 0;
}

// .mat-table {
//   background: transparent;
// }
// td,
// th {
//   color: $text-color !important;
// }
// .mat-header-cell {
//   border-color: $border-color !important;
// }
// #number-0,
// #number-2,
// #number-4 {
//   background-color: #254D55 !important;
// }
// .mat-table {
//   font-family: 'Assistant', sans-serif !important;
// }